*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}
body {
  font-family: "Nunito Sans", "Overlock";
  padding: 1em;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}